*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navigation bar */
#navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: black;
    padding: 10px 150px;
    z-index: 1;
    
    
}

/* #navbar::before{
    content: "";
    background-color: black;
    justify-items: center;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}  */


/* navigation bar : Logo and Menu  */
#logo{
    margin: 0px 30px;
    color: white;
    display: flex;
}

#navbar #logo .logo-text{
    color: white;
    margin: auto 20px;
    
}

#logo img{
   height: 65px;
   width: 65px;
   margin: 4px 7px;
   border-radius: 50%; 
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', sans-serif;
    justify-content: center;
    align-items: center;
}

#navbar ul li{
    list-style: none;
    position: relative;
}

#navbar ul li a{
    color: white;
    display: block;
    font-size: 24px; 
    padding: 0px 22px;
    border-radius: 20px;
    font-weight: 500;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white ;

}
