*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    height: 450px;
    justify-content: center;
    align-items: center;
    
}

#home::before{
    content: "";
    position: absolute;
    background-position: center;
    background-size: cover; 
    background: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    top:0px;
    left:0px;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: 0.8; 
}

#home h1{
    color: orange;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', sans-serif;;
}



/* services container  */

.product{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    height: 450px;
    justify-content: center;
    align-items: center;
    
}

.product::before{
    content: "";
    position: absolute;
    background-position: center;
    background-size: cover; 
    background: url('../images/bg3.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    top:0px;
    left:0px;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: 0.8; 
}
.product h1{
    color: black;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

.product p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', sans-serif;;
}

.services-container{
    width: 100%;
    background-color: white;
}

.services-container #services{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.services-container #services .box{
    width: 100%;
    margin: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(247, 248, 248);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.services-container #services .box img{
    width: 150px;
    height:150px;
    border-radius: 20px;
}

.services-container #services .box p{
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: 15px;
    color: black;
    margin: 10px;
    font-weight: 50;
}

.services-container #services .box a{
    text-decoration: none;
    color: black;
}


/* Services */

/* Menu */

.manu-banner{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    height: 550PX;
    justify-content: center;
    align-items: center;
    
}

.manu-banner::before{
    content: "";
    position: absolute;
    background-position: center;
    background-size: cover; 
    background: url('../images/m16.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
   
    top:0px;
    left:0px;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.8; 
}
.menu-section{
    width: 100%;
    margin-top: 10px;
    background-color: white;
}


.menu-section .menu-card{
    width: 80%;
    margin: 10px auto;
    display: flex;
}

.menu-section .menu-card .card{
    background-color: rgb(247, 248, 248);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-section .menu-card .card .dish-image{
    
    padding: 15px;
    border-radius: 15px;
}

.menu-section .menu-card .card .dish-image img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

/* Product List */

/* Cart */

.cart{
    width: 100%;
    margin: 20px 10px;
}

.cart .row{
    width: 60%;
    margin: auto;
    display: flex;
    padding: 20px;
    background-color: #e5e8ed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cart .row .card-list{
    width: 70%;
    
}

.cart .row .card-list .card-item{
    display: flex;
    /* background-color: rgb(247, 248, 248) ; */
    border-bottom: 2px solid rgb(110, 175, 175) ;
}

.cart .row .card-list .card-item img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
}

.cart .row .card-list .card-item .item-input{
    width: 80px;
    text-align: center;
    border-radius: 15px;
    height: 25px;
}

.cart .row .card-list .card-item .item-description, .card-item-add{
    margin: auto 0px;
    padding:10px 10px;
    text-align: center;
}

.cart .row .card-list .card-item .item-description h5{
    text-align: left;
}
.cart .row .card-list .card-item .card-item-add{
    display:flex; 
}

.cart .row .card-list .card-item .card-item-add input, .card-item-add p, .card-item-add i{
     margin-left: 80%;
}
.card-details{
    width: 25%;
    background-color:rgba(161,179,193,255);
    margin: 0px auto;
    border-radius: 10px;
    text-align: left;
    padding-left: 35px;
}

.card-details h3{
    text-align: left;
    margin: 10px;
}

.card-details .card{
    margin-top: 30px;
}

.card .input-tag{
    font-family: 'Bree Serif', serif; 
    margin: 20px 0px;
}

.card .card-input{
    margin: 5px 0px;
    height: 25px;
    width: 80%;
    border-radius: 3px;
}

.card .date-input{
    margin: 5px 0px;
    height: 25px;
    width: 60%;
    border-radius: 3px;
}

.card .cvv-input{
    margin: 5px 0px;
    height: 25px;
    width: 30%;
    border-radius: 3px;
}


.card-total{
    display: flex;
    margin-left: 58%;
}
.card-total p{
    display: flex;
    margin-left: 10%;
}
/* Cart End */


/* Menu End */

/* Team Member  */

.team-section{
    width:100%;
    background-color: white;
    padding-bottom: 20px;
}

.team-section .container{
    width:80%;
    margin: auto;
}
.team-section .container .row{
    width:60%;
    margin: auto;
    
}

.team-section .container .row .title{
    text-align: center;
    margin-top: 10px;
}

.team-section .container .row .title h1{   
    letter-spacing: 1px;
    color: black;
}

.team-section .container .row .title h1 p{
    font-size: 18px;
    font-family: 'Bree Serif', serif; 
    margin: 30px 0px;
    color: black;
}

.team-section .container .team-card{
    width:100%;
    display:flex;
    margin-top:50px;  
}

.team-section .container .team-card .card{
    width:100%;
    background-color: rgb(247, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    padding: 20px;
    margin: 0px 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 .team-section .container .team-card .card img{
     height:150px;
     width:150px;
     border-radius: 50%;
     border:6px solid #fff;
 }

 .team-section .container .team-card .card .content{
    width:100%;
    text-align: center;
 }
 
 .team-section .container .team-card .card .content h3{
    font-size: 27px;
    margin: 10px;
    letter-spacing: 1px;
    color: black;
    font-family: 'Bree Serif', serif;
 }

 .team-section .container .team-card .card .content h5{
    font-size: 17px;
    margin: 10px;
    letter-spacing: 1px;
    color: black;
    font-family: 'Bree Serif', serif;
 }

 .team-section .container .team-card .card .content p{
    font-size: 15px;
    margin: 15px 0px;
    letter-spacing: 1px;
    color: black;
    font-family: 'Baloo Bhai 2', sans-serif;

 }


/* contact us  */
#contactus{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    height: 450px;
    justify-content: center;
    align-items: center;
    
}

#contactus::before{
    content: "";
    position: absolute;
    background-position: center;
    background-size: cover; 
    background: url('../images/contact1.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    top:0px;
    left:0px;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: 0.8; 
}
.contact-container{
    width: 100%;
    height: auto;
    background-color: rgb(247, 248, 248);
    padding: 20px;
}
#contact{
    margin: auto;
    display: flex;
    width: 80%;
    
}
#contact .box{
    border: 1px solid brown;
    width: 40%;
    padding: 10px;
    margin: 5px auto;
    justify-items: center;
    justify-content: center;
    display: flex;
    border-radius: 23px;
    
}

.contact-form h2{
    margin: 15px auto;
}
.contact-form textarea{
    height:100px;
}

.form-tag{
    width:400px;
    height:25px;
    border: 1px solid brown;
    border-radius: 7px;
    padding: 5px;
}


.contact-details{
    width:40%;
    margin:auto;
}
.address{
    display: flex;
    justify-content: center;
}
.address .icon{
    width: 60px;
    height: 60px;
    margin: 10px; 
}

.contact-details i{
    font-size: 1.9rem;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.icon-text{
    text-align: left;
    width: 280px;
    padding-top: 20px;
}

.icon-text h3{
    
    font-size: 1.2rem;
}

.icon-text p{
    font-size: 15x;
}





/* About Us  */
#aboutus{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    height: 450px;
    justify-content: center;
    align-items: center;
    
}

#aboutus::before{
    content: "";
    position: absolute;
    background-position: center;
    background-size: cover; 
    background: url('../images/about3.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    top:0px;
    left:0px;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.8; 
}
.aboutus{
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(246, 248, 248);
    
}

.aboutus img{
    width:50%;
    height: auto;
    
}

.about-text{
    width:50%;
    margin: 20px;
}
.about-text h1{
    color: black;
    margin: 10px;
    letter-spacing: 1px;
}

.about-text p{
    margin: 10px;
    color: black;
    font-size: 1.4rem;
}

.main{
    width:1130px;
    max-width: 95%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Utility Classes  */
 .h-primary{
     font-size: 2.8rem;
     padding: 12px;
     font-family: 'Bree Serif', serif;
}

.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
} 

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn-small{
    padding: 6px 10px;
    border: 2px solid brown;
    color: black;
    margin: 17px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
}


.btn-small:hover, .btn-ex-small:hover {
   
    border: 2px solid white;
    background-color: brown;
    color: white;
}
.btn-ex-small{
    padding: 4px 10px;
    border: 2px solid brown;
    color: black;
    margin: 17px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
}
.center{
    text-align: center;
}