@media only screen and (min-width: 768px){
    .bmi{
        width:100%;
    }
    .bmi .container{
        width: 30%;
    }
    
}

.bmi{
    width:100%;
    min-height: 500px;
    text-align: center;
}
.bmi .container{
    width: 30%;
    margin: 50px auto;
    padding: 30px;
    
    border-radius: 15px;
    background-color: rgb(218, 235, 235);
    color: #21325e;
}
.bmi-card{
    margin: 0 auto;
    padding: 0px 0px;
    width: 80%;
}
.container h1{
    color: #21325e;
    padding: 20px;
}

.container input{
    margin: 10px 0px;
    width: 200px;
    border-radius:5px ;
    height:25px;
}

.container label{
    width:200px;
    text-align: left;
}

 .bmi .container button{
    margin-left: 0;
    margin-bottom: 15px;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border-color: #21325e;
    color: #21325e;
}
.bmi .container button:hover{
   background-color: #21325e ;
    border-color: white;
    color: white;

} 

